[submodule "docs/tut_lab/lv0"]
	path = docs/tut_lab/lv0
	url = git@github.com:N2Sys-EDU/Lab0-Documentation.git
	branch = main
[submodule "docs/tut_lab/lv1"]
	path = docs/tut_lab/lv1
	url = git@github.com:N2Sys-EDU/Lab1-Documentation.git
	branch = lab1-2023
